.container-fluid {
 
  height: 100%;
  background-color: #aadaff;
  background-image: radial-gradient(#aadaff, #fff, rgb(230, 235, 230));
}



#map {
    height:500px;
    width:100%;
    padding:2px;
    margin-top:25px;
    border:5px solid #EDF5FC;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color:#aadaff;
    border: 0; 
}
.navbar .navbar-toggler {
    border: 0;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-family: 'Bad Script', cursive;  
}
.navbar .navbar-nav a {
    font-weight: bold;  
    padding:0px;   
}


/* section header */
.section-header, h2 {
    font-size:1em;
    color:rgb(134, 139, 144);
    font-weight: bold;
    font-family: 'Bad Script', cursive;
    letter-spacing: .2em;
    text-align: center;
    margin-top:50px;
}


body > article > div.section-header > div > h2 {

}


.features {
    margin:0;
    padding:0;
    }

.feature, img {
    padding:15px;
    margin:auto;
    margin-bottom:80px;
    height:250px;
    width:250px;
    border-radius:50%;
    text-align: center;
    font-family: 'Bad Script', cursive;
}


/*-----------FOOTER----------*/

footer {
    border-color: transparent;
    text-align: center;
}

.foot {
    margin-top:25px;
    margin-bottom: 20px;
}

a {
    padding: 5px 15px 5px 10px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #aadaff;
    color: #fff;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}

i:hover {
    color: #564F6F;

}



@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
  
 .section-header, h2 {
  margin-top:20px;
 }
}
