 *{
    margin:0px;
    padding:0px;
     }
#map {
    height:500px;
    width:100%;
    padding:2px;
    border: 5px solid #fff;

}
.body {
    background-color:#aadaff;
}
/* Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color:#aadaff;
    border: 0;  
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-family: 'Chewy', cursive;  
}

.navbar .navbar-nav a {
    font-weight: bold;  
    padding:0px;  
}
.container {
    padding:3px;
    background-color:#aadaff ;
    max-width: 100%;
    height:500px;
}